.portfolio-display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.portfolio-width {
    width: 900px;
    margin-top: 50px;
}

.portfolio-card {
    background-color: white;
    border-radius: 5px;
    width: 430px;
    height: 430px;
    margin-bottom: 35px;
}

.portfolio-card:hover {
    box-shadow: -1px 0 20px 0px #666;
}

img {
    max-width: 100%;
}

.portfolio-card h2 {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

.portfolio-card p {
    padding: 20px;
}
