/* Muller */
@font-face {
    font-family: 'Muller Bold';
    src: url('fonts/Muller-ExtraBold-DEMO.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muller Regular';
    src: url('fonts/Muller-Thin-DEMO.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Karla */
@font-face {
    font-family: 'Karla';
    src: url('fonts/Karla-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('fonts/Karla-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('fonts/Karla-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Karla';
    src: url('fonts/Karla-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
