$mullerEBFont: url('./fonts/Muller-ExtraBold-DEMO.otf') format('opentype');
$mullerThinFont: url('./fonts/Muller-Thin-DEMO.otf') format('opentype');

$mullerFamily: 'Muller';

@font-face {
    font-family: $mullerFamily;
    src: $mullerEBFont;
    font-weight: normal;
}

// @font-face {
//     font-family: $mullerFamily;
//     src: $mullerEBFont;
//     font-weight: bold;
// }
